.section_ventas{
    .row{
        .producto1{
            a{
                color: white;
                text-decoration: none;
                &:hover{
                    color: rgba(255, 255, 255, 0.703);
                }
                .img_productos{
                    width: 10em;
                    &:hover{
                        transform: translate(15px);
                        transform: scale(1.2);
                    }
                }
                .img_extras{
                    width: 7em;
                    padding-top: 1em;
                }
                
            }
            .descripcion_productos{
                color: white;
                h4{
                    font-size: 20px;
                }
                p{
                    font-size: 15px;
                }
            }
        }
    }
}