.carrito-container{
    height: 100%;
    background-color: white;
    padding-top:200px;
    padding-left: 10%;
    h4{
        padding-bottom: 30px;
    }
    a{
        text-decoration: none;
        color: black;
        .img-carrito{
            width: 100px;
            
        }
    }
    .carta{
        display: flex;
        justify-content: space-between;
        border: solid 2px black;
        margin-right: 30px;

    }
    .btn-carta{
        padding: 10px 50px;
        background-color: rgb(37, 37, 37);
        margin-right: 30px;
        input{
            background-color: white;
            padding: 5px 30px;
            &:hover{
                background-color: rgb(232, 232, 232);
            }
        }
    }
}
